/* Add this CSS code to dashboardstyle.css */

body {
    font-family: 'Arial', sans-serif;
    background-image: url(./pexels-hngstrm-1939485.jpg);
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    width: 100%;
    max-width: 600px;
    margin: auto;
    padding: 20px;
    background: linear-gradient(145deg, #9e9e9e, #ffffff);
    border-radius: 8px;
    box-shadow: 12px 12px 24px rgba(0, 0, 0, 0.2), 
                -8px -8px 16px rgba(255, 255, 255, 0.1);
    text-align: center;
    border: 1px solid rgba(0, 0, 0, 0.1);
    overflow: hidden;
    position: relative;
    z-index: 1;
}

h1, h2 {
    margin-bottom: 20px;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    margin-bottom: 10px;
}

input[type="text"],
input[type="number"],
button {
    margin-bottom: 15px;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

button {
    background-color: #007bff;
    color: #fff;
    cursor: pointer;
    border: none;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #0056b3;
}

.deleteBtn {
    background-color: #dc3545;
    color: #fff;
}
